<tool id="bars" name="Bar Detection" version="0.0.1">
  <description>
    Detect bars using structural similarity to a predefined bars frame.
  </description>
  <command interpreter="python3">test.py $input $output</command>
  <inputs>
      <param name="input" type="data" format="json" label="M.Video"/>
  </inputs>
  <outputs>
    <data name="output" format="json" label="SMPTE Bars"/>
  </outputs>
  <help>Video</help>
</tool>
