opencv-python==3.4.5.20
Flask==1.0.2
Flask-DebugToolbar==0.10.1
Flask-RESTful==0.3.7
Flask-WTF==0.14.2
imutils==0.5.2
numpy==1.15.4
scikit-image==0.14.1

git+https://github.com/clamsproject/clams-python-sdk.git@9f4af19
